src/test/resources/automation-test-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:sqs="http://www.mulesoft.org/schema/mule/sqs" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:context="http://www.springframework.org/schema/context" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      version="EE-3.6.0"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sqs http://www.mulesoft.org/schema/mule/sqs/current/mule-sqs.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">

    <context:property-placeholder location="${AUTOMATION_CREDENTIALS}"/>

    <sqs:config name="SQS" accessKey="${sqs.accessKey}" secretKey="${sqs.secretKey}" defaultQueueName="${sqs.queueName}"
                region="${sqs.region}" doc:name="Amazon SQS"></sqs:config>


    <flow name="create-queue" doc:name="create-queue">
        <sqs:create-queue queueName="#[flowVars.queueName]" region="#[flowVars.region]" config-ref="SQS"
                          doc:name="Amazon SQS">
            <sqs:attributes ref="#[flowVars.attributes]"/>
        </sqs:create-queue>
    </flow>

    <flow name="send-message" doc:name="send-message">
        <sqs:send-message config-ref="SQS" message="#[flowVars.message]" queueUrl="#[flowVars.queueUrl]"
                          doc:name="Amazon SQS">
            <sqs:message-attributes ref="#[flowVars.messageAttributes]"/>
        </sqs:send-message>
    </flow>

    <flow name="send-message-batch" doc:name="send-message-batch">
        <sqs:send-message-batch config-ref="SQS" doc:name="Amazon SQS">
            <sqs:messages ref="#[flowVars.messages]"/>
        </sqs:send-message-batch>
    </flow>

    <flow name="get-queue-url" doc:name="get-queue-url">
        <sqs:get-queue-url queueName="#[flowVars.queueName]" config-ref="SQS" doc:name="Amazon SQS"/>
    </flow>

    <flow name="delete-message" doc:name="delete-message">
        <sqs:delete-message receiptHandle="#[flowVars.receiptHandle]" config-ref="SQS" doc:name="Amazon SQS"/>
    </flow>

    <flow name="delete-message-batch" doc:name="delete-message-batch">
        <sqs:delete-message-batch config-ref="SQS" doc:name="Amazon SQS">
            <sqs:receipt-handles ref="#[flowVars.receiptHandles]"/>
        </sqs:delete-message-batch>
    </flow>

    <flow name="delete-queue" doc:name="delete-queue">
        <sqs:delete-queue queueUrl="#[flowVars.queueUrl]" config-ref="SQS" doc:name="Amazon SQS"/>
    </flow>

    <flow name="get-queue-attributes" doc:name="get-queue-attributes">
        <sqs:get-queue-attributes queueUrl="#[flowVars.queueUrl]" config-ref="SQS" doc:name="Amazon SQS">
            <sqs:attribute-names ref="#[flowVars.attributeNames]"/>
        </sqs:get-queue-attributes>
    </flow>

    <flow name="set-queue-attribute" doc:name="set-queue-attribute">
        <sqs:set-queue-attributes config-ref="SQS" doc:name="Amazon SQS">
            <sqs:attributes ref="#[flowVars.attributes]"/>
        </sqs:set-queue-attributes>
    </flow>

    <flow name="add-permission" doc:name="add-permission">
        <sqs:add-permission config-ref="SQS" label="#[flowVars.label]" doc:name="Amazon SQS">
            <sqs:account-ids ref="#[flowVars.accountIds]"/>
            <sqs:actions ref="#[flowVars.actions]"/>
        </sqs:add-permission>
    </flow>

    <flow name="remove-permission" doc:name="remove-permission">
        <sqs:remove-permission config-ref="SQS" label="#[flowVars.label]" doc:name="Amazon SQS"/>
    </flow>

    <flow name="get-approximate-number-of-messages" doc:name="get-approximate-number-of-messages">
        <sqs:get-approximate-number-of-messages queueUrl="#[flowVars.queueUrl]" config-ref="SQS" doc:name="Amazon SQS"/>
    </flow>

    <flow name="list-queues" doc:name="list-queues">
        <sqs:list-queues queueNamePrefix="#[flowVars.queuePrefix]" config-ref="SQS" doc:name="Amazon SQS"/>
    </flow>

    <flow name="list-dead-letter-source-queues" doc:name="list-dead-letter-source-queues">
        <sqs:list-dead-letter-source-queues queueUrl="#[flowVars.queueUrl]" config-ref="SQS" doc:name="Amazon SQS"/>
    </flow>

    <!--flow name="purge-queue" doc:name="purge-queue">
        <sqs:purge-queue queueUrl="#[flowVars.queueUrl]" config-ref="SQS" doc:name="Amazon SQS"/>
    </flow-->

    <flow name="receive-messages" doc:name="receive-messages" initialState="stopped">
        <sqs:receive-messages config-ref="SQS" preserveMessages="true" doc:name="Amazon SQS"/>
        <set-payload
                value="#[['messageId' : message.inboundProperties['sqs.message.id'],
                'messageBody' : message.payload,
                'receiptHandle' : message.inboundProperties['sqs.message.receipt.handle']]]"
                doc:name="Amazon SQS"/>
        <vm:outbound-endpoint path="receive"/>
    </flow>

    <flow name="change-message-visibility" doc:name="change-message-visibility">
        <sqs:change-message-visibility config-ref="SQS" receiptHandle="#[flowVars.receiptHandle]"
                                       visibilityTimeout="#[flowVars.visibilityTimeout]"/>
    </flow>

    <flow name="change-message-visibility-batch" doc:name="change-message-visibility-batch">
        <sqs:change-message-visibility-batch config-ref="SQS">
            <sqs:receipt-handles ref="#[flowVars.receiptHandles]"/>
        </sqs:change-message-visibility-batch>
    </flow>

    <!-- Flows for the meta data test cases -->

    <flow name="send-message-meta-data" doc:name="send-message-meta-data">
        <sqs:send-message config-ref="SQS" message="#[flowVars.message]" queueUrl="#[flowVars.queueUrl]"
                          doc:name="Amazon SQS">
            <sqs:message-attributes ref="#[flowVars.messageAttributes]"/>
        </sqs:send-message>
    </flow>

    <flow name="delete-message-batch-meta-data" doc:name="delete-message-batch-meta-data">
        <sqs:delete-message-batch config-ref="SQS" queueUrl="#[flowVars.queueUrl]" doc:name="Amazon SQS">
            <sqs:receipt-handles ref="#[flowVars.receiptHandles]"/>
        </sqs:delete-message-batch>
    </flow>
</mule>
