src/test/resources/sqs-schema-test.xml
<?xml version="1.0" encoding="UTF-8"?>
  <!--

    Mule Amazon Connector Copyright (c) MuleSoft, Inc. All rights
    reserved. http://www.mulesoft.com The software in this package is
    published under the terms of the CPAL v1.0 license, a copy of which
    has been included with this distribution in the LICENSE.txt file.
  -->

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:spring="http://www.springframework.org/schema/beans" xmlns:sqs="http://www.mulesoft.org/schema/mule/sqs"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
         http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
        http://www.mulesoft.org/schema/mule/sqs http://www.mulesoft.org/schema/mule/sqs/1.0/mule-sqs.xsd">

  <spring:beans>
    <context:property-placeholder location="classpath:credentials.properties" />
  </spring:beans>

  <sqs:config accessKey="${aws.accessKey}" secretAccessKey="${aws.secretAccessKey}" />

  <flow name="Send">
    <sqs:send-message queueName="test" />
  </flow>

  <flow name="GetUrl">
    <sqs:get-url />
  </flow>

  <flow name="Receive">
    <sqs:receive-messages />
    <logger level="INFO" message="Received message with #[payload]" />
  </flow>

  <flow name="Delete">
    <sqs:delete-message receiptHandle="xxx" />
  </flow>

  <flow name="DeleteQueue">
    <sqs:delete-queue queueName="abc" />
  </flow>

  <flow name="GetQueueAttributes">
    <sqs:get-queue-attributes attribute="MAXIUMUM_MESSAGE_SIZE" />
  </flow>

  <flow name="SetQueueAttributes">
    <sqs:set-queue-attribute attribute="VISIBILITY_TIMEOUT"
      value="86400" />
  </flow>

  <flow name="AddPermission">
    <sqs:add-permission label="message" accountId="125074342641"
      action="SendMessage" />
  </flow>

  <flow name="RemovePermission">
    <sqs:remove-permission label="message" />
  </flow>

  <flow name="GetAproxNumberOfMessages">
    <sqs:get-approximate-number-of-messages />
  </flow>




</mule>
