demo/src/main/app/Amazon SQS.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:context="http://www.springframework.org/schema/context"
	xmlns:sqs="http://www.mulesoft.org/schema/mule/sqs" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sqs http://www.mulesoft.org/schema/mule/sqs/current/mule-sqs.xsd">
    <sqs:config name="Sqs" accessKey="${amazon.sqs.accesskey}" secretKey="${amazon.sqs.accesskeysecret}" queueName="${amazon.sqs.queue}" doc:name="Amazon SQS"/>
    <context:property-placeholder location="mule.properties"/>
	
	<flow name="SendMessage" doc:description="Puts a text message in the message queue" doc:name="SendMessage">
        <http:inbound-endpoint host="localhost" port="8081" path="status" doc:name="HTTP" exchange-pattern="request-response"/>
        <logger level="INFO" message="Pushing message to the queue: #[header:inbound:message]" doc:name="Logger"/>
        <sqs:send-message message="#[header:inbound:message]" config-ref="Sqs" doc:name="Send message"/>
    </flow>

    <flow name="ReceiveMessage"
        doc:description="Get a message from the queue, and write it to a file" doc:name="ReceiveMessage">
        <sqs:receive-messages config-ref="Sqs" doc:name="Sqs (Streaming)"/>
        <logger level="INFO" message="Pulling message from the queue: #[payload]" doc:name="Logger"/>
        <file:outbound-endpoint path="/tmp/amazon-sqs" outputPattern="#[function:datestamp].msg" doc:name="File"/>
    </flow>
    <flow name="GetUrl" doc:name="GetUrl">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="getUrl" doc:name="HTTP"/>
        <sqs:get-url config-ref="Sqs" doc:name="Get url"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
    <flow name="GetQueueAttributes" doc:name="GetQueueAttributes">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="getQueueAttributes" doc:name="HTTP"/>
        <sqs:get-queue-attributes config-ref="Sqs" attribute="ApproximateNumberOfMessages" doc:name="Get queue attributes"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
    <flow name="SetAndGetQueueAttributes" doc:name="SetAndGetQueueAttributes">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="setAndGetQueueAttributes" doc:name="HTTP"/>
        <sqs:set-queue-attribute config-ref="Sqs" attribute="MaximumMessageSize" value="1024" doc:name="Set queue attribute"/>
        <sqs:get-queue-attributes config-ref="Sqs" attribute="MaximumMessageSize" doc:name="Get queue attributes"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>

</mule>
