demo/src/main/app/Amazon SQS.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:context="http://www.springframework.org/schema/context" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:sqs="http://www.mulesoft.org/schema/mule/sqs" xmlns:quartz="http://www.mulesoft.org/schema/mule/quartz"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.3.1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd 
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd 
http://www.mulesoft.org/schema/mule/sqs http://www.mulesoft.org/schema/mule/sqs/1.0/mule-sqs.xsd 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
http://www.mulesoft.org/schema/mule/quartz http://www.mulesoft.org/schema/mule/quartz/current/mule-quartz.xsd ">
<sqs:config name="Sqs" accessKey="${amazon.sqs.accesskey}"  doc:name="Amazon SQS" secretKey="${amazon.sqs.accesskeysecret}" queueName="${amazon.sqs.queue}"/>
    <context:property-placeholder location="mule.properties"/>

<flow name="SendMessage" doc:description="Puts a text message in the message queue" doc:name="SendMessage">
        <http:inbound-endpoint host="localhost" port="8081" path="status" doc:name="HTTP" exchange-pattern="request-response"/>
        <logger level="INFO" message="Pushing message to the queue: #[header:inbound:message]" doc:name="Logger"/>
        <sqs:send-message message="#[header:inbound:message]" config-ref="Sqs" doc:name="Sqs"/>
    </flow>

    <flow name="ReceiveMessage"
        doc:description="Get a message from the queue, and write it to a file" doc:name="ReceiveMessage">
        <sqs:receive-messages config-ref="Sqs" doc:name="Sqs (Streaming)"/>
        <logger level="INFO" message="Pulling message from the queue: #[payload]" doc:name="Logger"/>
        <file:outbound-endpoint path="/tmp/amazon-sqs" outputPattern="#[function:datestamp].msg" doc:name="File"/>
    </flow>
    <flow name="GetUrl" doc:name="GetUrl">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="getUrl" doc:name="HTTP"/>
        <sqs:get-url config-ref="Sqs" doc:name="Amazon SQS"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
    <flow name="GetQueueAttribute" doc:name="GetQueueAttribute">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="getQueueAttribute" doc:name="HTTP"/>
        <sqs:get-queue-attributes config-ref="Sqs" attribute="APPROXIMATE_NUMBER_OF_MESSAGES" doc:name="Amazon SQS"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
</mule>
